{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  
<style>
    .login{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        border-radius: 10px;
        width: 400px;
        height: auto;
    }
    .login h1{
        text-align: center;
        padding: 0 0 10px 0;
        border-bottom: 1px solid silver;
    }
    body{
        background: linear-gradient(120deg, #2980b9, #8e44ad);
    }
    .container{
        font-family: 'Times New Roman';
        font-size: 16px;
    }
    td input{
        border-radius: 5px;
        width: 100%;
        padding: 0 5px;
        height: 30px;
        margin: 10px 0;
    }
    input[type="submit"]{
        width: 100%;
        height: 50px;
        border: 1px solid;
        background: #2980b9;
        border-radius: 10px;
        font-weight: bold;
        font-size: large;
        color: white;
        cursor: pointer;
    }
    input[type="submit"]:hover{
        border-color:#2980b9;
        transition: .5s;
    }

</style>
<body>
    <div class="kembali">
    <button>
        <a href="{% url 'todolist:login' %}">Kembali</a>
    </button>
</div>
<div class = "login">
    
    <h1>Formulir Registrasi</h1>  

        <form method="POST" >  
            {% csrf_token %}
            <div class="container">
            <table>  
                <tr>
                    <th>
                        <label for=""id_username>Username:</label>
                    </th>  
                    <td>
                        <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username">
                    </td>
                    <tr>
                    <th>
                        <label for="id_password1">Password:</label>
                    </th>
                    <br> 
                    <td>
                        <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1">
                    </td>
                </tr>
                    <tr>
                        <th>
                        <label for="id_password2">Password Confirmation:</label>
                    </th>
                    <td>
                        <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
                    </td>
                    </tr>
                </tr>
                <td></td>
                <td>
                    <input type="submit" name="submit" value="Daftar">
                </td>
            </table>
        </div>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  
</body>
{% endblock content %}