{% extends 'base.html' %}

{% block content %}

<h1>Tugas 4 PBP/PBD</h1>
<h3>Name: {{username}} </h3>

<style>
table, th, tr {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<table>
  <tr>
  <th>Status</th>
  <th>Date</th>
  <th>Title</th>
  <th>Description</th>
  <th>Update Task</th>
  <th>Delete Task</th>
  </tr>

  {% for todolist in task_list %}
  
  <tr>
    {% if todolist.is_finished %}
      <th>Sudah</th>
    {% else %}
      <th>Belum</th>
    {% endif %}
    <th>{{todolist.date}}</th>
    <th>{{todolist.title}}</th>
    <th>{{todolist.description}}</th>
    <th>
      <button>
        <a href="{% url 'todolist:update_task' todolist.id %}">Update</a>
      </button>
    </th>
    <th>
      <button>
        <a href="{% url 'todolist:delete_task' todolist.id %}">Delete</a>
      </button>
    </th>
  </tr>
  {% endfor %}
</table>

<button>
    <a href="{% url 'todolist:create_task' %}">Tambah Task Baru</a>
</button>

<button>
    <a href="{% url 'todolist:logout' %}">Logout</a>
</button>
{% endblock content %}
