{% extends 'base.html' %}

{% block content %}
<title>Todolist</title>

<style>
  body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
    background: linear-gradient(120deg, #3A6BF2, #00FFDE);
    height: 100vh;
  }
  .container{
    text-align: center;
  }

</style>
<nav class="navbar bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Nama : {{username}}</a>
    <a  href="{% url 'todolist:create_task' %}">
      <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#createModal">
        Tambah Task Baru
      </button>
    </a>

    <a href="{% url 'todolist:logout' %}">
      <button type="button" class="btn btn-outline-primary">
        Logout
      </button>
    </a>
  </div>
</nav>
<body>
  <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="createModalLabel">Tambah Task Baru</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="" id="createTask">
          {% csrf_token %}
          <div class="mb-3">
            <input type="text" name="title" placeholder="Task Title" class="form-control">
          </div>

          <div class="mb-3">
            <input type="text" name="description" placeholder="Task Description" class="form-control">
          </div>

          <div class="mb-3">
            <input class="btn login_btn btn x1 btn-primary" type="submit" value="Create Task">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>

</script>

<div class="row row-cols-1 row-cols-md-4 g-4">
<div class="col">
  {% for task in task_list %}
    <div class="card">
        {% if task.is_finished %}
          <div class="card-header text-bg-success text-center">Sudah</div>
        {% else %}
          <div class="card-header text-bg-warning text-center">Belum</div>
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{task.title}}</h5>
            <p class="card-text">{{task.description}}</p>
        </div>
        <div class="card-footer">
          <p class="card-text">{{task.date}}</p>
                <a class="btn btn-sm btn-danger text-end" href="{% url 'todolist:delete_task' task.id %}">Delete</a>
                <a class="btn btn-sm btn-primary text-end" href="{% url 'todolist:update_task' task.id %}">Update</a>
                
        </div>
    </div>
</div>
{% endfor %}
</div>

</body>
{% endblock content %}
